/* 
RESOLVER:
    scroll
    cambiar estilo de flechas en galeria
    cambiar posicion del mapa de ubicación
    cambiar ids y clases (solo tendrá id los bodys)
*/

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
    color: #B2926D;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #877560;
}

.navbar {
    height: fit-content;
    background-color: #ffffff;
}

.right-nav {
    justify-content: space-between;
    position: relative;
    margin: auto;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    font-weight: 500;
    transition: all 1s;
}

.nav-link:hover {
    font-weight: 600;
    color: #18C5D7;
}

.telefono:hover {
    color: #18C5D7;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    font-size: 30px;
}

#bienvenidos h1 {
    text-align: center;
    background: linear-gradient(180deg, #B2926D 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 50px;
    font-weight: 600;

}

.elipse {
    width: 350px;
    height: 350px;
    align-items: center;
    background: rgba(244, 241, 187, 0.8);
    border-radius: 100%;
    background-position: center center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 7px;
}

.info {
    align-items: center;
}

.intro__elipse-texto {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    /* identical to box height */

    display: flex;
    text-align: center;

    margin: 0px 0 0px 0;
    color: #18C5D7;

}

.descripcion__i {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 60px;
    background: rgba(244, 241, 187, 0.8);
    border-radius: 20px;
    align-items: center;
    margin: auto;
}

.descripcion__i i {
    color: #18C5D7;
}

#galeria img {
    width: 450px;
    height: 350px;
    display: block;
    margin: auto;
    object-fit: cover;
}

.flechas {
    width: max-content;
    margin: auto;
}

.flechas i {
    font-size: 35px;
    width: 58px;
    height: 48px;
    color: #FEC924;
    text-align: center;
    margin: 0px;
}

.flechas button {
    border: 0;
    background: 0;
}

.ubicacion__fondo {
    background-color: #F4F1BB;
}

.ubicacion__box {
    height: 350px;
}

.ubicacion__img {
    height: 350px;
    max-width: auto;
    vertical-align: middle;
}

.ubicacion__textomapa {
    text-align: center;
    margin: auto;
}

.ubicacion__button {
    background: #5DC1B9;
    border-radius: 20px;
    color: white;
    line-height: 2;
    width: 200px;
    border: none;
}


.mas-sobre-nosotros__button-container-img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 100px;
    object-fit: cover;
}

.mas-sobre-nosotros__button-container {
    display: flex;
    position: relative;
    width: auto;
    max-width: 100%;
    vertical-align: middle;
    flex: 0 0 auto;
    max-height: 100%;
}

.mas-sobre-nosotros__button-container-a {
    position: absolute;
    width: 10em;
    right: 6.5em;
    bottom: -1em;
    background-color: #FEC924;
    border-radius: 1.5em;
    color: white;
    padding: 10px;
    margin: auto;
    vertical-align: middle;
}

#newsletter {
    background-color: #FEC924;
}

#newsletter h4 {
    font-size: 24px;
    color: #ffffff;
}

.newletter__button {
    background: #5DC1B9;
    border-radius: 20px;
    margin: auto;
    color: #ffffff;
}

.footer__box {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.footer__box-i1 {
    font-size: 25px;
    color: #D4A373;
}

.footer__box-i2 {
    font-size: 30px;
    color: #8AE0DB;
    opacity: .6;
}

/* Ubicacion */

.ubicacion-intro__div {
    background-image: url("../imagenes/frank-mckenna-OD9EOzfSOh0-unsplash.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}

.ubicacion-intro__div h1 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
    top: 290px;
    left: 30px;
}

.ubicacion__acts-cercanas-fondo {
    background-color: #FEC924;
    opacity: 0.7;
}

.ubicacion__mapa {
    background-color: #F5F5F5;
}

.ubicacion__mapa-img {
    border-radius: 10px;
}

.ubicacion__mapa-img:hover {
    filter: sepia(60%);
}

/* Galería */

.galeria__h1{
font-size: 60px;
    font-weight: 800;
    color: #5DC1B9;
    text-align: center;
    margin: 20px 0;
}

.caja-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 400px;
    grid-gap: 10px;
}

.caja-galeria img {
    object-fit:cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.caja-galeria img:first-child{
    grid-column: 1/3;
}

.caja-galeria img:nth-child(2) {
    grid-column: 3/5;
}

.caja-galeria img:nth-child(3) {
    grid-column: 1/2;
}

.caja-galeria img:nth-child(4){
    grid-column: 2/5;
}

.caja-galeria img:nth-child(6) {
    grid-column: 2/4;
}

/* Unidades */

.ubicacion-intro__div {
    background-image: url("../imagenes/frank-mckenna-OD9EOzfSOh0-unsplash.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}

.ubicacion-intro__div h1 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
    top: 290px;
    left: 30px;
}


/* Nosotros */

.nosotros-intro__div {
    background-image: url("../imagenes/receptionista.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;  
    
}

#nosotros-intro h1 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
    top: 290px;
    left: 30px;
}

.nosotros__servicios-div {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #877560;
}

