/* 
RESOLVER:
    scroll
    cambiar estilo de flechas en galeria
    cambiar posicion del mapa de ubicación
    cambiar ids y clases (solo tendrá id los bodys)
*/

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
    color: #B2926D;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #877560;
}

ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #877560;
}

b {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #877560;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #877560;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    background: #5DC1B9;
    border-radius: 20px;
    color: white;
    line-height: 2;
    width: 215px;
    border: none;
    transition: width 0.5s;
}

.btn:hover {
    background: #488b86;
    color: #fff;
    width: 250px;
    font-weight: 600;
}

.navbar {
    height: fit-content;
    background-color: #ffffff;
}

.right-nav {
    position: relative;
    margin-left: auto;
}

.nav-item {
    font-size: 16px;
    padding: 0 10px;
}

.nav-link {
    font-weight: 500;
    transition: all 1s;
}

.nav-link:hover {
    font-weight: 600;
    color: #FEC924;
}

#active{
    color: #FEC924;
    font-weight: 600;
}

.telefono {
    color: #18C5D7;
    font-size: 30px;
    padding: 0 5px;
}

#bienvenidos h1 {
    text-align: center;
    background: linear-gradient(180deg, #B2926D 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 50px;
    font-weight: 600;

}

.elipse {
    width: 350px;
    height: 350px;
    align-items: center;
    background: rgba(244, 241, 187, 0.8);
    border-radius: 100%;
    background-position: center center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 7px;
}

.info {
    align-items: center;
}

.intro__elipse-texto {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    display: flex;
    text-align: center;
    margin: 0px 0 0px 0;
    color: #18C5D7;

}

.descripcion__i {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 60px;
    background: rgba(244, 241, 187, 0.8);
    border-radius: 20px;
    align-items: center;
    margin: auto;
}

.descripcion__i i {
    color: #18C5D7;
}

.slider-container {
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
    position: relative;
}

ul.slider {
    position: relative;
    width: 800px;
    height: 400px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

ul.slider li img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
    text-align: center;
    margin: 20px;
}

.menu li {
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 10%;

}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #18C5D7;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}


.ubicacion__fondo {
    background-color: #F4F1BB;
    height: 250px;
}

.ubicacion__box {
    height: 350px;
    position: relative;
}

.ubicacion__img {
    height: 350px;
    max-width: auto;
    position: absolute;
    bottom: 18%;
    left: 15%;
}

.ubicacion__textomapa {
    position: relative;
    padding-top: 20px;
    margin: auto;
}

.mas-sobre-nosotros__button-container-img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 100px;
    object-fit: cover;
}

.mas-sobre-nosotros__button-container {
    display: flex;
    position: relative;
    width: auto;
    max-width: 100%;
    vertical-align: middle;
    flex: 0 0 auto;
    max-height: 100%;
}

.mas-sobre-nosotros__button-container-a {
    position: absolute;
    width: 10em;
    right: 6.5em;
    bottom: -1em;
    background-color: #FEC924;
    border-radius: 1.5em;
    color: white;
    padding: 10px;
    margin: auto;
    vertical-align: middle;
    transition: width 0.5;
    border: none;
}

.mas-sobre-nosotros__button-container-a:hover {
    background-color: #18C5D7;
    font-weight: 600;
}

#newsletter {
    background-color: #FEC924;
}

#newsletter h4 {
    font-size: 24px;
    color: #ffffff;
}

.footer__box {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.footer__box-i1 {
    font-size: 25px;
    color: #D4A373;
}

.footer__box-i2 {
    font-size: 30px;
    color: #8AE0DB;
    opacity: .6;
}

/* Ubicacion */

.ubicacion-intro__div {
    background-image: url("../imagenes/frank-mckenna-OD9EOzfSOh0-unsplash.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}

.ubicacion-intro__div h1 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
    top: 290px;
    left: 30px;
}

.ubicacion__acts-cercanas-fondo {
    background-color: #FEC924;
    opacity: 0.7;
}

.ubicacion__mapa {
    background-color: #F5F5F5;
}

.ubicacion__mapa-img {
    border-radius: 10px;
}

.ubicacion__mapa-img:hover {
    filter: sepia(60%);
}

/* Galería */


.galeria__h1 {
    text-align: center;
    color: #B2926D;
    font-weight: 500;
    font-size: 50px;
}

.caja-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 400px;
    grid-gap: 10px;
}

.caja-galeria img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.caja-galeria img:first-child {
    grid-column: 1/3;
}

.caja-galeria img:nth-child(2) {
    grid-column: 3/5;
}

.caja-galeria img:nth-child(3) {
    grid-column: 1/2;
}

.caja-galeria img:nth-child(4) {
    grid-column: 2/5;
}

.caja-galeria img:nth-child(6) {
    grid-column: 2/4;
}

/* Unidades */
/*#unidades{
    overflow-x: hidden;
}*/
.unidades-intro__div {
    background-image: url("../imagenes/habitacion.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}

.unidades-intro__div h1 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
    top: 290px;
    left: 30px;
}


.nuestros-apartamentos__div-reloj {
    display: flex;
    width: 390px;
    background-image: url("../imagenes/reloj.png");
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nuestros-apartamentos__p-reloj {
    margin: auto;
    text-align: center;
}

.apart1 {
    position: relative;
}

.apart1__caja {
    text-align: center;
    background: rgba(254, 201, 36, .8);
    position: absolute;
    margin: auto;
    padding: 20px;
    width: 430px;
    height: auto;
    min-height: auto;
    max-height: none;
    left: 1em;
    bottom: 15%;
    z-index: 10;
}

.apart1__caja-img {
    position: relative;
    min-height: 1px;
    float: right;
}

.apart1__img {
    display: inline-block;
    width: 800px;
    height: 400px;
    object-fit: cover;
}

.apart2 {
    position: relative;
}

.apart2__caja {
    text-align: center;
    background: rgba(178, 146, 109, .8);
    position: absolute;
    margin: auto;
    padding: 20px;
    width: 430px;
    height: auto;
    min-height: auto;
    max-height: none;
    right: 1em;
    bottom: 15%;
    z-index: 10;
}

.apart2__caja-img {
    position: relative;
    min-height: 1px;
    float: left;
}

.apart2__img {
    display: inline-block;
    width: 800px;
    height: 400px;
    object-fit: cover;
}

/*.aparts-flecha {
    font-size: 35px;
    width: 58px;
    height: 48px;
    color: #FEC924;
    text-align: center;
    z-index: 20;
    position: absolute;
    left: 10em;
    bottom: 1em;
    padding: 10px;
}*/



/* Servicios */

/* Servicios 
.servicios-intro__div {
    background-image: url("../imagenes/receptionista.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
PARA PONER LAS IMAGINES 
}
*/

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    grid-template-rows: repeat(2,300px);
    grid-auto-rows: 300px;
    background-color:#F4F1BB;
    grid-auto-flow: dense;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.grid-item {
    color:#877560;
    font-weight: 600;
    font-size: 24px;
    
}


/* Contacto */

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F4F1BB;
    margin: 50px 30px;
}

.form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
}

.form__input {
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #D4A373;
    color: #111;
    border-radius: 5px;
}

.form__input:focus {
    outline: none;
}

.form textarea {
    min-height: 140px;
}

.form__img {
    flex: 1;
    padding: 10px;
}

.form__img h1 {
    font-size: 50px;
    font-weight: 600;
    color: #D4A373;
    position: relative;
    text-align: center;
}

.form__img div {
    padding: 10px;
}

.img-container {
    background-color: #ffffff;
    height: 250px;
    width: 250px;
    margin: auto;
    border-radius: 100%;
    display: flex;
    z-index: 50;
}

.form__img img {
    width: 150px;
    margin: auto;
}